<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/SAEAPP/">
        <button type="submit" class="button">Album</button>
    </form>

    {% if id is not none  %}
        <form method="post" action="/SAEAPP/appupdatetraitement/{{id}}/">
    {% else %}
        <form method="post" action="/SAEAPP/apptraitement/">
    {% endif %}
    {% csrf_token %}
    {{ form.as_ul }}

    <input type="submit" value="envoyer␣les␣données"/>
        </form>
    </form>
</body>
</html>